.g-search-form-button-item{
  width: 200px !important;
}
:deep(.g-form-button-item .n-form-item-blank) {
  width: 100%;

}

:deep(.--button-group-basic) {
  width: 100%;
  display: flex;
  align-items: center;
}

:deep(.--button-group-center) {
  justify-content: center;
}

:deep(.--button-group-left) {
  justify-content: flex-start;
}

:deep(.--button-group-right) {
  justify-content: end;
}

.section-info {
  height: 28px;
  background: #d6e1fe;
  border-radius: 14px 0 0 0;
  color: white;
  width: 100%;

  span {
    display: inline-block;
    border-radius: 14px 0 14px 0;
    text-indent: 15px;
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
    background: #346af8;
    width: 200px;
  }
}

.form-label-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
